# Editor
.vscode

# Node
node_modules

# Compiled schemas
schemas/gschemas.compiled

# Compiled translations
locale/*/LC_MESSAGES/*.mo

# Python venv for Shexli
venv/

# Packaged extension (Zip file)
dist/
